<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     </configSections>
  <entityFramework>
    <providers>
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="MongoServerSettings" connectionString="mongodb+srv://gymbratjodee:checkthisservice@cluster0-p0lw4.mongodb.net/test" />
 </connectionStrings>
</configuration>